@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* general style */
.container {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: auto 72px; */
  padding-right: 72px;
  padding-left: 72px;
}

.btn {
  padding: 8px 24px;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 14px;
}

.primary {
  background-color: teal;
}

.accent {
  background-color: #ff6f61;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
h3 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}

/* reference by tag name */
/* reference by class name */
/* reference by id */
nav {
  height: fit-content;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

nav div {
  color: #333;
  font-size: 16px;
  font-weight: 800;

  display: flex;
  align-items: center;
}

nav div h3 {
  /* display: none; */
  visibility: hidden;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
  font-size: 14px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

nav ul li a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }

  nav div h3 {
    /* display: block; */
    visibility: visible;
  }
}

/* hero section */

/* .hero_section {
  position: relative;

  width: 100%;
  height: 100vh;
}

.hero_section .hero_bg {
  position: absolute;
}

.hero_section .hero_bg img {
  width: 100%;
  height: 100%;
}

.hero_section .hero_text {
  position: absolute;
  transform: translateX(50%);
  transform: translateY(50%);
  top: 50%;
  left: 50%;
  z-index: 10;
} */

.hero_section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  background: url("../assets/capadocia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0;
}
.hero_text h1 {
  color: white;
  font-size: 42px;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: "Playfair Display", serif;
}

.hero_text button {
  margin-top: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* featured section */
.feature_section {
  margin: 36px auto;
}

.feature_card_container {
  width: 100%;
  margin: 8px auto;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.feature_card {
  width: 360px;
  height: 320px;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  gap: 12px;

  margin: 16px 0;
}

.feature_card img {
  width: 100%;
  height: 75%;
  border-radius: 18px;
}

.feature_card_texts h4 {
  font-family: "Playfair Display", serif;
  margin-bottom: 8px;
}

.add_new_blog {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border: 1px solid gray;
  border-radius: 18px;

  text-decoration: none;
  color: black;
  /* transition: 0.5s; */
}

.add_new_blog:hover {
  box-shadow: 4px 4px 4px #333;
  background-color: #ff6f6159;
  /* transition: 0.5s; */
}

/* explore section */
.expolore_section {
  padding-top: 48px;
  padding-bottom: 48px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.explore_section_left p {
  width: 70%;
}

.expolore_section button {
  margin: 0 auto;
  padding: 12px 36px;
  font-size: 1.5rem;
  font-weight: 500;
}

/* footer section */
.footer_section {
  display: flex;
  gap: 16px;
  background-color: #d3d3d3;
}

.footer_section div {
  padding: 24px 0 24px 0;
  width: 50%;
}
.footer_section div div {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 12px;
}

.footer_section input {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.footer_section button {
  padding-top: 12px;
  padding-bottom: 12px;
}

.footer_section ul {
  list-style-type: none;
}
.footer_section ul li {
  margin: 10px auto;
}

.footer_section a {
  text-decoration: none;
  color: black;
}

.footer_section a:hover {
  padding-bottom: 10px;
}
